/* Write your CSS here */
.bottom-section {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dark-bg {
  background-color: black;
}
.home-image {
  height: 150px;
}
.section-heading {
  font-size: 40px;
  font-weight: 600;
  color: #171f46;
}

.dark-heading {
  color: white;
}
